$primary: #d4af37;

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.style-check {
  height: 100%;
}

.flex-container {
  display: flex;
}

.flex-col {
  flex: 25%;
}

.h-30 {
  width: 30%;
}

.bg-red {
  background-color: $primary;
}

.bg-tint {
  background-color: tint($primary, 15);
}

.bg-shade {
  background-color: shade($primary, 15);
}
.bg-complement {
  background-color: complement($primary);
}

.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
